main{
    max-width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #E9EEF7;
    padding-bottom: 100px;
}

.cadastrarLocadora{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 3px 3px 13px #CBDBE8, -3px -3px 13px #FFFFFF;
}

.cadastrarLocadora form{
    width: 100%;
    display: flex;
    justify-content: center;
}

h2{
    font-size: 40px;
    color: #4A6D84;
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: 'quicksand';
}

.informacoes{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.ajusteTelefone{
    display: flex;
}

.ajusteTelefone input{
    width: 65%;
    margin-right: 5%;
    font-family: 'quicksand';
}


.input{
    box-shadow: 3px 3px 7px #CBDBE8, -3px -3px 5px #FFFFFF;
    height: 30px;
    border-radius: 10px;
    font-size:x-large;
    padding: 10px;
    background: #E9EEF7;
    border: 0;
    margin-bottom: 10px;
    outline: none;
    font-family: 'quicksand';
}

.input:focus{
    box-shadow: inset -4px -4px 6px rgba(255, 255, 255, 0.78), inset 3px 3px 6px #CBDBE8;
}


.botaoCadastrar{
    width: 30%;
    height: 50px;
    background-color: #F55E5E;
    color: white;
    border: #F55E5E;
    border-radius: 10px;
    font-family: 'quicksand';
    font-size: 24px;
    transition-duration: 1s;
}

.botaoCadastrar:disabled{
    background-color:  #CBDBE8;
    color: #99a1a7;
}

.botaoCadastrar:hover:enabled{
    cursor: pointer;
    color: #F55E5E;
    background-color: #ffffff;
    border:solid 2px #F55E5E;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


.botaoEditarLocadora{
    width: 30%;
    height: 50px;
    background-color: #F55E5E;
    color: white;
    border: #F55E5E;
    border-radius: 10px;
    font-family: 'quicksand';
    font-size: 24px;
    transition-duration: 1s;
}

.botaoEditarLocadora:hover{
    cursor: pointer;
    color: #F55E5E;
    background-color: #ffffff;
    border:solid 2px #F55E5E;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


////////////

.locadorasCadastradas{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 3px 3px 13px #CBDBE8, -3px -3px 13px #FFFFFF;
    margin-top: 100px;
}

.locadoras_geral{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.locadoras{
    width: 85%;
    box-shadow: 3px 3px 7px #CBDBE8, -3px -3px 5px #FFFFFF;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    margin-top: 15px;
}

h3, .locadoras p{
    color: #4A6D84;
    margin: 0;
    width: 200px;
    font-family: 'quicksand';
}

.locadoras p{
    font-size:medium ;
}

h3{
    font-weight: 500;
    font-size: 24px;
}

.botao_editar{
    width: 200px;
    height: 40px;
    color: #39A9F0;
    background: #E9EEF7;
    box-shadow: 3px 3px 7px #CBDBE8, -3px -3px 5px #FFFFFF;
    border-radius: 10px;
    border-style: none;
    margin-right: 20px;
    font-weight: 500;
    font-size: 20px;
}

.botao_editar:hover{
    background: #E9EEF7;
    box-shadow: inset -4px -4px 6px rgba(255, 255, 255, 0.78), inset 3px 3px 6px #CBDBE8;
    border-radius: 10px;
    cursor: pointer;
}

.botao_excluir{
    width: 200px;
    height: 40px;
    color: #F55E5E;
    background: #E9EEF7;
    box-shadow: 3px 3px 7px #CBDBE8, -3px -3px 5px #FFFFFF;
    border-radius: 10px;
    border-style: none;
    font-weight: 500;
    font-size: 20px;
}

.botao_excluir:hover{
    background: #E9EEF7;
    box-shadow: inset -4px -4px 6px rgba(255, 255, 255, 0.78), inset 3px 3px 6px #CBDBE8;
    border-radius: 10px;
    cursor: pointer;
}