<app-header></app-header>
<main>

    <div class="cadastrarLocadora">
        <h2><b>Locadora</b></h2>
        <form [formGroup]="form">
            <div class="informacoes">

                <input type="text" required placeholder="Locadora" class="input" formControlName="nome">

                <input type="text" required placeholder="Endereço" class="input" formControlName="endereco">

                <div class="ajusteTelefone">
                    <input type="text" required placeholder="Telefone" class="input" formControlName="telefone">

                    <button class="botaoCadastrar" (click)="salvarDadosLocadoras()" [disabled]="!form.valid"
                        *ngIf="!botaoEditar">Cadastrar</button>

                    <button class="botaoEditarLocadora" (click)="editarLocadora()" *ngIf="botaoEditar">Editar</button>
                </div>
            </div>
        </form>
    </div>


    <div class="locadorasCadastradas">
        <h2><b>Locadoras cadastradas</b></h2> 

        <div class="locadoras_geral">

            <div class="locadoras" *ngFor="let dados of locadoras; index as i; trackBy: trackUser">

                <div>
                    <div>
                        <h3>{{dados.nome}}</h3>
                    </div>
                </div>

                <div>
                    <div>
                        <p>{{dados.endereco}}</p>
                        <p>{{dados.telefone}}</p>
                    </div>
                </div>

                <div>
                    <button class="botao_editar" [swal]="{
                        title:'ATENÇÃO',
                        text: 'Você realmente deseja editar '+dados.nome+'?',
                        showDenyButton: true,
                        denyButtonText: 'não',
                        confirmButtonText: 'sim',
                        icon: 'info'
                    }" (confirm)="alterarDadosLocadora(dados)">Editar</button>

                    <button class="botao_excluir" [swal]="{
                        title:'ATENÇÃO',
                        text: 'Você realmente deseja excluir '+dados.nome+'?',
                        showDenyButton: true,
                        denyButtonText: 'não',
                        confirmButtonText: 'sim',
                        icon: 'warning'
                    }" (confirm)="excluir(dados.id)">Excluir</button>

                </div>
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>