<main>
    <form>  
        <div class="cadastrarLocadora">
            <h2>Locadora</h2>
                
            <div class="informacoes">

                <input type="text" required placeholder="Locadora" class="input">
                
                <input type="text"  required placeholder="Endereço" class="input">
                
                <div class="ajusteTelefone">  
                    <input type="text" required placeholder="Telefone" class="input">
                
                    <button class="botaoCadastrar" type="submit">Cadastrar</button>
                </div>
            </div>
        </div>
    </form>

    <div class="locadorasCadastradas">
        <h2>Locadoras cadastradas</h2>
        
        <div class="locadoras_geral">

            <div class="locadoras">

                <div>
                    <div>
                        <h3>Locadora Matriz</h3>
                    </div>
                </div>

                <div>
                    <div>
                        <p>Rua Marquês, 10
                            (11) 9999-9090</p>
                    </div>
                </div>

                <div>
                    <button class="botao_editar">Editar</button>
                    <button class="botao_excluir">Excluir</button>
                </div>

            </div>
        </div>

    </div>
</main>
<app-footer></app-footer>
