<footer>

    <div class="teste">
        <div class="footer_texto tamanho">
            <a href="https://www.gov.br/governodigital/pt-br/estrategias-e-politicas-digitais/estrategia-nacional-de-seguranca-cibernetica" target="_blank" class="cor_texto"><b>Política de Segurança</b></a>
            <p class="cor_texto">31 99999 9666 - contato@divinafashion.com</p>
            <p class="cor_texto">AV. Principal, 123 . BH/MG</p>
        </div>

        <div class="trabalhe_conosco">
            <a href="https://edusync.com.br/" target="_blank" class="cor_texto"><b>Trabalhe Conosco</b></a>
        </div>

        <div class="procon">
            <a href="https://www.procon.sp.gov.br/" target="_blank" class="cor_texto"><b>PROCON</b></a>
        </div>

        <div>
            <div class="footer_logo">
                <div class="logo_instagram">
                    <a href="https://www.instagram.com/brqdigital/" target="_blank"><img src="../../assets/img/instagram 2.png" alt="logo instagram"></a>
                </div>

                <div class="logo_face">
                    <a href="https://www.facebook.com/brqdigital" target="_blank"><img src="../../assets/img/f_1_.png" alt="logo Facebook"></a>
                </div>

                <div class="logo_twitter">
                    <a href="https://twitter.com/brqdigital" target="_blank"><img src="../../assets/img/twitter 2.png" alt="logo Twitter"></a>
                </div>
            </div>
            <div>
                <p class="cor_texto">EduSync © Todos os direitos reservados</p>
            </div>
        </div>
    </div>

</footer>
