<app-header></app-header>

<main>
    <form [formGroup]="form">  
        <div class="fazerReserva">
            <h2><b>Reservas</b></h2>
                
            <div class="informacoes">
                <div>
                    <input type="text"  class="input_modelo" placeholder="Modelo do carro" formControlName="modelo" required>
                </div>
                

                <div class="datas">
                  
                    <input type="text" class="inputs" placeholder="Data da Reserva" formControlName="data" required>
                    
                    <input type="text" class="inputs" placeholder="Horário da Reserva" formControlName="horario" required>
                    
                    <input type="text" class="inputs" placeholder="Data da devolução" formControlName="dataentrega" required>
                    
                </div>
                
                <div class="ajusteSelect">
                    <select disableRipple class="select" required>
                        <option value="0" disabled selected>Selecione a locadora filial</option>
                        <option value="1">Dois Irmãos</option>
                        <option value="2">Tres Irmãos</option>
                    </select>

                    <button id="cadastro" (click)="FazerReserva()" type="submit" [disabled]="!form.valid"><b>Cadastrar</b></button>
                </div>
            </div>
        </div>

        <div class="reservados">
            <h2>Reservas Cadastradas</h2>
            <div class="linha"></div>

            <div class="cadastrado" *ngFor="let item of reservas; index as i;">
                <img src="../../../../assets/car3 2.png">

                <div class="informacoesCadastro">
                    
                    <b id="subtitulo">{{item.carro.nome}}</b>

                    <div>
                        <p>Data retirada: <b>{{item.data}}</b></p>
                        <p>Horário retirada: <b>{{item.horario}}</b></p>
                        <p>Data devolução: <b>{{item.dataentrega}}</b></p>
                    </div>

                </div>

                <button id="excluirReserva" (click)="ExcluirReserva(item.id)" type="submit"><b>Excluir reserva</b></button>

            </div>
        </div>
    </form>
</main>