<app-header></app-header>

<main>
    <form>  
        <div class="fazerReserva">
            <h2>Reservas</h2>
                
            <div class="informacoes">
                <mat-form-field>
                    <mat-label>Modelo do carro</mat-label>
                    <input type="text" matInput required>
                </mat-form-field>

                <div id="datas">
                    <mat-form-field> 
                        <mat-label>Data da Reserva</mat-label>
                        <input type="date" matInput required>
                    </mat-form-field>
                    
                    <mat-form-field> 
                        <mat-label>Horário da Reserva</mat-label>
                        <input type="time" matInput required>
                    </mat-form-field>

                    <mat-form-field> 
                        <mat-label>Data da Devolução</mat-label>
                        <input type="date" matInput required>
                    </mat-form-field>
                </div>
                
                <div id="ajusteSelect">
                    <mat-form-field appearance="fill">
                        <mat-label>Selecione a locadora filial</mat-label>
                        <mat-select disableRipple required>
                            <mat-option value="1">Dois Irmãos</mat-option>
                            <mat-option value="2">Tres Irmãos</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <button id="cadastro" type="submit">Cadastrar</button>
                </div>
            </div>
        </div>

        <div class="reservados">
            <h2>Reservas Cadastradas</h2>
            <div class="linha"></div>

            <div class="cadastrado">
                <img src="../../../../assets/car3 2.png">

                <div class="informacoesCadastro">
                    
                    <b id="subtitulo">Fiat Uno 1.0</b>

                    <div>
                        <p>Data retirada: <b>22/05/2022</b></p>
                        <p>Horário retirada: <b> 16:30</b></p>
                        <p>Data devolução: <b>30/05/2022</b></p>
                    </div>

                </div>

                <button id="excluirReserva" type="submit">Excluir reserva</button>

            </div>
        </div>
    </form>
</main>