<app-header></app-header>
<main>
    <!-- <form [formGroup]="form"> -->
        <div class="card">
            <h2><b>Carros</b></h2>

            <div class="informacoes">
                <input type="text" name="carros" class="nome_carro" placeholder="Nome do carro" formControlName="carros">

                <select name="tipo_carro" class="tipo_carro" formControlName="tipo_carro">
                    <option value="0" disabled>Selecione o tipo</option>
                </select>

                <div class="portas_pessoas">
                    <input type="number" name="num_portas" class="portas" placeholder="Portas" formControlName="num_portas">
                    <input type="number" name="pessoas" class="pessoas" placeholder="Núm de pessoas" formControlName="pessoas">
                </div>

                <div class="selector_e_botao">
                    <select name="locadora" class="locadora" formControlName="locadora">
                        <option value="0" disabled>Selecione a locadora</option>
                    </select>

                    <button class="cadastrar_editar" type="submit">Cadastrar</button>
                </div>
            </div>
        </div>

        <div class="carros_cadastrados">

            <h2><b>Popular</b></h2>
            <div class="linha"></div>
            
            <div class="popular">

                <div class="carros">
                    <img src="../../../../assets/car3 2.png">

                    <b>Fiat Uno 1.0</b>

                    <p>Faça a sua reserva e garata a locação do automóvel.</p>

                    <button class="editar" type="submit"><b>Editar</b></button>
                    <button class="excluir" type="submit"><b>Excluir</b></button>
                </div>

                <div class="carros">
                    <img src="../../../../assets/car3 2.png">

                    <b>Fiat Uno 1.0</b>

                    <p>Faça a sua reserva e garata a locação do automóvel.</p>

                    <button class="editar" type="submit"><b>Editar</b></button>
                    <button class="excluir" type="submit"><b>Excluir</b></button>
                </div>

                <div class="carros">
                    <img src="../../../../assets/car3 2.png">

                    <b>Fiat Uno 1.0</b>

                    <p>Faça a sua reserva e garata a locação do automóvel.</p>

                    <button class="editar" type="submit"><b>Editar</b></button>
                    <button class="excluir" type="submit"><b>Excluir</b></button>
                </div>
                
            </div>

            <h2><b>Sedan</b></h2>
            <div class="linha"></div>

            <div class="sedan">

                <div class="carros">
                    <img src="../../../../assets/car3 2.png">

                    <b>Fiat Uno 1.0</b>

                    <p>Faça a sua reserva e garata a locação do automóvel.</p>

                    <button class="editar" type="submit"><b>Editar</b></button>
                    <button class="excluir" type="submit"><b>Excluir</b></button>
                </div>

                <div class="carros">
                    <img src="../../../../assets/car3 2.png">

                    <b>Fiat Uno 1.0</b>

                    <p>Faça a sua reserva e garata a locação do automóvel.</p>

                    <button class="editar" type="submit"><b>Editar</b></button>
                    <button class="excluir" type="submit"><b>Excluir</b></button>
                </div>

                <div class="carros">
                    <img src="../../../../assets/car3 2.png">

                    <b>Fiat Uno 1.0</b>

                    <p>Faça a sua reserva e garata a locação do automóvel.</p>

                    <button class="editar" type="submit"><b>Editar</b></button>
                    <button class="excluir" type="submit"><b>Excluir</b></button>
                </div>
            </div>

            <h2><b>Luxo</b></h2>
            <div class="linha"></div>

            <div class="luxo">

                <div class="carros">
                    <img src="../../../../assets/car3 2.png">

                    <b>Fiat Uno 1.0</b>

                    <p>Faça a sua reserva e garata a locação do automóvel.</p>

                    <button class="editar" type="submit"><b>Editar</b></button>
                    <button class="excluir" type="submit"><b>Excluir</b></button>
                </div>

                <div class="carros">
                    <img src="../../../../assets/car3 2.png">

                    <b>Fiat Uno 1.0</b>

                    <p>Faça a sua reserva e garata a locação do automóvel.</p>

                    <button class="editar" type="submit"><b>Editar</b></button>
                    <button class="excluir" type="submit"><b>Excluir</b></button>
                </div>

                <div class="carros">
                    <img src="../../../../assets/car3 2.png">

                    <b>Fiat Uno 1.0</b>

                    <p>Faça a sua reserva e garata a locação do automóvel.</p>

                    <button class="editar" type="submit"><b>Editar</b></button>
                    <button class="excluir" type="submit"><b>Excluir</b></button>
                </div>
            </div>

            
        </div>
    <!-- </form> -->
</main>
