<main>
    <!-- O Fundo -->
    <div class="background">
        <div class="logo">
            <img src="../../../assets/Group 2.png" alt="O Grande Roubo de Carros virou Programa de TV KKKKKKKKKKKKK">
        </div>
        <!-- Botões de Logar e Cadastrar -->
        <div class="botoes">
            <!-- <a routerLink="/login"><button id="login" >Login</button></a> -->
            <a class="botao_home mecanismo login" routerLink="/login"><span></span><span></span><span></span><span></span>Login</a>
    
            <!-- <button id="cadastro">Cadastrar</button> -->
            <a class="botao_home mecanismo cadastro"><span></span><span></span><span></span><span></span>Cadastrar</a>
        </div>
    </div>

    <!-- Titulo Pricipal -->
    <h1>Carros Ofertados</h1>

    <!-- Cards -->
    <div class="Cards">

        <!-- Caranga Ratatui -->
        <div class="Card">
            <img src="../../../assets/car3 2.png" alt="Caranga Bonita">

            <h2>Econômico</h2>

            <p>Veículos baratos para atender todos os orçamentos! e pra Quem Necessita de Um Veículo!</p>
        </div>

        <!-- Caranga de Bom Gosto -->
        <div class="Card">
            <img src="../../../assets/car2 1.png" alt="Caranga Gostosa">

            <h2>Especial</h2>

            <p>Veículos médios para atender todas Necessidades! e é um Bom preço para os Amantes de Carros!</p>
        </div>

        <!-- Caranga Maneira -->
        <div class="Card">
            <img src="../../../assets/car1 1.png" alt="Caranga Atriz de Filme Adulto">

            <h2>Luxo</h2>

            <p>Veículos Luxuosos para atender todo o Luxo! e é Bom para Loucos por Luxo e também Fans de Carros de Marca</p>
        </div>

    </div>

</main>
<app-footer></app-footer>
