<header>

    <a class="preto" routerLink="/home">Home</a>
    <a class="preto" routerLink="/carros" [ngClass]="{'vermelho' : selecionado === 'carros' }">Carros</a>
    <a class="preto" routerLink="/reservas" [ngClass]="{'vermelho' : selecionado === 'reservas' }">Reservas</a>
    <a routerLink="/home"><img src="../../../assets/img/Group 1.png"></a>
    <a class="preto" routerLink="/locadoras" [ngClass]="{'vermelho' : selecionado === 'locadoras'}">Locadoras</a>
    <a class="preto" routerLink="/perfil" [ngClass]="{'vermelho' : selecionado === 'perfil' }">Perfil</a>
    <a class="preto" routerLink="#">Sair</a>

</header>