<main>
    <div class="img" id="alturaimg">
        <img src="../../assets/Group 1.png" alt="Locadora">
    </div>
    <div class="tudo">
        <div class="nome">
            <input type="text" placeholder="Nome completo">
        </div>
        <br>
        <div class="telefone">
            <input type="text" placeholder="telefone">
        </div>
        <br>
        <div class="email">
            <input type="text" placeholder="E-mail">
        </div>
        <br>
        <button>Cadastrar</button>
    </div>
</main>
