<main>
    <div class="img" id="alturaimg">
        <img src="../../assets/Group 1.png" alt="Locadora">
    </div>
    <mat-card class="tudo">
        <mat-card-content>
            <div class="mover">
                <mat-form-field class="input">
                    <mat-label>nome</mat-label>
                    <input type="text" matInput placeholder="Nome Completo">
                  </mat-form-field>

              
                <br>
                <div class="telefone">
                    <input type="text" placeholder="telefone">
                </div>
                <br>
                <div class="email">
                    <input type="text" placeholder="E-mail">
                </div>
                <br>
                <button>Cadastrar</button>
            </div>
        </mat-card-content>
    </mat-card>
</main>