<app-header></app-header>
<main>

    <div class="cadastrarLocadora">
        <h2>Perfil</h2>
        <form>
            <div class="informacoes">

                <input type="text" required class="input" formControlName="nome">

                <input type="text" required class="input" formControlName="endereco">

                <input type="text" required class="input" formControlName="telefone">

                <div class="ajusteTelefone">
                    <button class="botaoCadastrar">Atualizar</button>

                    <button class="botao_excluir">Excluir Cadastro</button>
                </div>
            </div>
        </form>
    </div>
</main>
<app-footer></app-footer>